<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="com_war_air.Properties.Settings.Customers__And_AgentsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\com\WARPRO\DB\Customers _And_Agents.mdf&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="com_war_air.Properties.Settings.Bookings_And_PaymentsConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\com\WARPRO\DB\Bookings_And_Payments.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="com_war_air.Properties.Settings.PackagesConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\com\WARPRO\DB\Packages.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>